<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uliamar.restaurant.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.uliamar.restaurant.app.controller.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uliamar.restaurant.app.controller.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName="com.uliamar.restaurant.app.controller.MainActivity" >
        </activity>
        <activity
            android:name="com.uliamar.restaurant.app.controller.OrderEditActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName="com.uliamar.restaurant.app.controller.RestaurantActivity" >
        </activity>
        <activity
            android:name=".controller.OrderReviewActivity"
            android:parentActivityName="com.uliamar.restaurant.app.controller.MainActivity" >
            android:label="@string/title_activity_order2_review" >
        </activity>
    </application>

</manifest>
